body,
html {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: white;
  overflow-x: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.testimonials {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px 10%;
  margin: 0;
}


.testimonials .client-section {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 70px;
}
.updateSection {
  width: 100vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 10%;
  background-image: url("images/technology-785742__480.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}
.updateSection h2 {
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.testimonials .client-section .core {
  width: 230px;
  height: 200px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  background-color: #0a79df;
  position: relative;
}
.testimonials .client-section .core:nth-of-type(1) {
  background-image: url("images/codninja.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.testimonials .client-section .core:nth-of-type(2) {
  background-image: url("images/collegefev.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.testimonials .client-section .core:nth-of-type(3) {
  background-image: url("images/dare2.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.testimonials .client-section .core:nth-of-type(4) {
  background-image: url("images/bonn.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.testimonials .client-section .core:nth-of-type(5) {
  background-image: url("images/internshala.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.testimonials .client-section .core:nth-of-type(6) {
  background-image: url("images/grabon2.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.testimonials .client-section .core:nth-of-type(7) {
  background-image: url("images/codingb2.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.testimonials .client-section .core:nth-of-type(8) {
  background-image: url("images/robo.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.testimonials .client-section .core:nth-of-type(9) {
  background-image: url("images/freeco2.jpg");
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
}
.testimonials .client-section .core:nth-of-type(10) {
  background-image: url("images/ISET 2020 Logo.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}
.testimonials .client-section .core:nth-of-type(11) {
  background-image: url("images/Learning While Travelling_TM_22.03.2018.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
footer {
  background: black;
  color: white;

}
